<!DOCTYPE html>
<html>

<head>
    <title>
        Python button script
    </title>

    <style>
        .intro {
            width: 500px;
            margin: 0 auto;
            text-align: center;
        }



        .intro2 {
            background-color: yellow;
        }
    </style>

</head>

<body>
    <!-- <h1  >Image Upscaler</h1> -->
    <h1 class="intro"> Image Upscaler</h1>
    <!-- <button onclick="location.href='{% url 'script' %}'">Execute Script</button> -->
    <hr>

    {% if data %}

    {{data | safe}}

    {% endif %}
    <br><br>
    {% if psnr %}

    {{psnr | safe}}

    {% endif %}
    <br><br>
    {% if raw_url or edit_url %}

    <span>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;RAW IMAGE:
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;PROCESSED
        IMAGE:
        <br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src={{raw_url}} width="350" height="350">
        &emsp;&emsp;&emsp;&emsp;
        <!-- PROCESSED IMAGE: -->
        <img src={{edit_url}} width="350" height="350">
    </span>

    {% endif %}
    <br><br>
    <div>
        <form action="/external/" method="post" enctype="multipart/form-data" class="intro">
            
            {% csrf_token %}
            <input type="file" name="image" required>
            <br><br>
            
            ENTER YOUR NAME:
            <input type="text" name="param" required><br><br>
            
            <br><br>
            <input type="submit" value="Execute Upscale Python Script">

        </form>
    </div>

</body>

</html>